:host {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

homepage-three-dimensional-text {
  align-items: center;
  display: flex;
  flex: 1;
  font-size: 7em;
  height: 100%;
  justify-content: center;
}
